body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

input:focus {
  outline: none;
}

::placeholder {
  text-align: center;
  color: black;
}

.file-upload-button {
  border-radius: 25px;
  border: 1px solid red;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.text-input {
  font-size: 120%;
  border: none;
  border-bottom: 2px solid;
  background: none;
  text-align: right;
  width: 30%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: auto;
}

.text-area {
  text-align: center;
}

.submission-box {
  text-align: center;
  border-radius: 25px;
  background: rgb(231, 228, 228);
  padding: 20px;
  margin: auto;
  width: 50%;
  height: auto;
}